{% extends "employee/layout.html" %}

{%block content%}
Dashboard
<div class="container">
    <div class="row justify-content-between">
        <hr>
        <div class="col-md-3 text-center white-bg p-4 m-3">
            <h3>{{num_pdt}}</h3>
            <a href="#" class="nav-link">
                <h6>Products</h6>
            </a>
        </div>

        <div class="col-md-3 text-center white-bg p-4 m-3">
            <h3>{{num_w}}</h3>
            <a href="#" class="nav-link">
                <h6>Requests</h6>
            </a>
        </div>

        <div class="col-md-3 text-center white-bg p-4 m-3">
            <h3>{{num_s}}</h3>
            <a href="#" class="nav-link">
                <h6>My sales</h6>
            </a>
        </div>

    </div>


    <hr>
</div>

{%endblock%}