{%extends 'layout.html' %}

{%block content%}
Categories
<div class="row mt-5">
    <div class="col-md-12 p-2">
        <button class="btn bg-light text-dark" style="font-size:0.8rem;">copy</button>
        <button class="btn bg-light text-dark" style="font-size:0.8rem;">Excel</button>
        <button class="btn bg-light text-dark" style="font-size:0.8rem;">Print</button>
        <button data-bs-target="#add_category" data-bs-toggle="modal" class="btn btn-secondary float-end">Add
            Category</button>

    </div>
    
    <div class="col-md-12">
        <h5 class="text-center">Categories</h5>
        <input type="text" name="searchKeyword" id="searchInput" onkeyup="searchTable()"
        placeholder="Search for a Category" class="form-control my-3">

        <table class="table table-bordered table-striped" style="-webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.1);
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.1);
        background-color: #FFF;" id="dataTable">

            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {%for c in categories%}
                <tr>
                    <td>
                        {{c[1]}}
                    </td>
                    <td>
                        {%if c[2]=='in-active'%}
                        <span class='text-danger'>In-active</span>
                        {%elif c[2]!='in-active'%}
                        <span class='text-success'>Active</span>
                        {%endif%}

                    </td>
                    <td>

                        <button data-bs-target="#edit_category/{{c[0]}}" data-bs-toggle="modal" class="btn">
                            <i class=' text-warning fas fa-edit p-2'></i></button>

                        <button class="btn text-danger" data-bs-toggle="modal"
                            data-bs-target="#delete_category/{{c[0]}}"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                {% endfor%}

                {%for c in categories%}
                <!-- ----------------------edit category popup------------- -->
                <div class="modal fade" id="edit_category/{{c[0]}}" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Category</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{{url_for('editCategory')}}" class="form-horizontal" method="POST">
                                    <input type="hidden" name="cat_id" value="{{c[0]}}" id="">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="cat_name" value="{{c[1]}}" class="form-control"
                                                placeholder="Enter Name" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">Status</label>
                                        <div class="col-sm-12">
                                            <select name="status" class="form-control" required>
                                                <option value="">Select Status</option>
                                                <option value="active">Active</option>
                                                <option value="in-active">In-active</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-secondary w-25">Update</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>

                <!-- -------delete category popup -------- -->
                <div class="modal fade" id="delete_category/{{c[0]}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <p>Do you want to Delete this Category</p>
                                <form action="{{url_for('deleteCategory')}}" method="POST">
                                    <input name="cat_id" type="hidden" value="{{c[0]}}">
                                    <div class="text-center p-3">
                                        <button type="button" class="btn m-4 bg-primary"
                                            data-bs-dismiss="modal">No</button>
                                        <button type="submit" class="btn btn-danger"
                                            id="confirmButton">Yes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {%endfor%}
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="add_category" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('addCategory')}}" method="POST">
                    <input type="text" class="form-control my-2" placeholder="Category Name" name="cat_name">
                    <select name="status" class="form-control my-2">
                        <option value="active">Active</option>
                        <option value="in-active">In-active</option>
                    </select>
                    <button type="submit" name="add_category" class="btn btn-secondary form-control">Add</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
{%endblock%}